/*
    ========================================
        Normalize based changes:
    ========================================
*/

/* updated margin-bottom value to visually align headings with content */

h1 {
    font-size: 2em;
    margin: 0.67em 0 0.335em;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0 0.415em;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0 .5em;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0 0.665em;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0 0.835em;
}

h6 {
    font-size: 0.67em;
    margin: 2.33em 0 1.165em;
}



/* updated margin-left to decrease indentation */

dd {
    margin: 0 0 0 20px;
}



/* updated padding-left to decrease indentation */

menu,
ol,
ul {
    padding: 0 0 0 20px;
}


